* {
    margin: 0; padding: 0;
    font-family: 'Arial', 'Sans-serif';
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    
    
}

.head-board {
    padding: 12px;
    margin: 0 auto;

}

.screen-canvas {
    display: block;
    margin: auto;
    padding: 0;
    border: 8px solid saddlebrown;
    /* 16px = 8px + 8px of border size plus canvas size.*/
    width: 616px; 
    height: 316px;
    
}


#canvas, .canvas {
    background-color: #034306;
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;
    
}

#canvas-* {
    visibility: hidden;
}

.footer-board {
    padding: 0;
}

